<!DOCTYPE html>
<html>

<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/indexstyle.css">
    <meta name="referrer" content="always">

</head>

<body>
    <nav class="navbar navbar-expand-lg custom-navbar navbar-dark">
        <a class="navbar-brand" href="/">Groupie-tracker</a>
        <form class="form-inline ml-auto" action="/filter" method="POST">

        <div class="form-group mr-3">
            <label>Количество участников:</label><br>
            <input type="checkbox" id="oneMember" name="members[]" value="1">
            <label for="oneMember" class="mr-2">1</label>
            
            <input type="checkbox" id="twoMembers" name="members[]" value="2">
            <label for="twoMembers" class="mr-2">2</label>
    
            <input type="checkbox" id="threeMembers" name="members[]" value="3">
            <label for="threeMembers" class="mr-2">3</label>
    
            <input type="checkbox" id="fourMembers" name="members[]" value="4">
            <label for="fourMembers" class="mr-2">4</label>

            <input type="checkbox" id="fiveMembers" name="members[]" value="5">
            <label for="fiveMembers" class="mr-2">5</label>

            <input type="checkbox" id="sixMembers" name="members[]" value="6">
            <label for="sixMembers" class="mr-2">6</label>

            <input type="checkbox" id="sevenMembers" name="members[]" value="7">
            <label for="severnMembers" class="mr-2">7</label>

            <input type="checkbox" id="sevenMembers" name="members[]" value="8">
            <label for="eightMembers" class="mr-2">8</label>

        </div>
        <div class="form-group mr-3">
            <label for="creationDateFromFilter" class="mr-2">Дата создания (от)</label>
            <input type="number" id="creationDateFromFilter" name="creation_date_from" class="form-control mr-3" min="1950" max="2023" placeholder="От года">
        </div>
        <div class="form-group mr-3">
            <label for="creationDateToFilter" class="mr-2">Дата создания (до):</label>
            <input type="number" id="creationDateToFilter" name="creation_date_to" class="form-control" min="1950" max="2023" placeholder="До года">
        </div>

        <div class="form-group mr-3">
            <label for="firstAlbumFilter" class="mr-2">Первый альбом (от)</label>
            <input type="number" id="firstAlbumFilter" name="firstAlbum_from" min="1950" max="2023" class="form-control mr-3">
        </div>
        <div class="form-group mr-3">
            <label for="firstAlbumFilter" class="mr-2">Первый альбом (до)</label>
            <input type="number" id="firstAlbumFilter" name="firstAlbum_to" min="1950" max="2023" class="form-control mr-3">
        </div>

        <div class="form-group mr-3">
            <label for="locationFilter">Локация:</label>
            <select id="locationFilter" name="location" class="form-control">
                <option value="">choose location...</option>
            </select>
        </div>

        <button type="submit" class="btn btn-light">Фильтровать</button>
        
    </form>
    </nav>

    <div class="container mt-5">
        <h1 class="text-center mb-5">Groups</h1>

        <div class="row">
            {{ range .Groups }}
            <div class="col-lg-3 col-md-4 col-sm-6 group-container">
                <div class="card">
                    <img src="{{ .Image }}" alt="{{ .Name }}" class="card-img-top" width="200">
                    <div class="card-body">
                        <a class="character-name" href="/groups/{{ .Id }}">{{ .Name }}</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

    
    <footer>
        <div class="container">
            <p>&copy; 2023 kamamedov, akalbiat</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>
    
</body>

</html>
